# CODEOWNERS file - Requires approval from repository contributors
# All files require review from at least one other contributor
# Add all contributors' GitHub usernames below (e.g., @username1 @username2)

* @CoderInTheNorth-049 @AbhijeetFasate13
